<html>
  <head>
    <title>Company Login</title>
  </head>
  <body>
    <!-- Your LINE login UI goes here -->
    <h2>Company Login</h2>
    <a
      href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=2002762157&redirect_uri=https://1c37-202-28-20-239.ngrok-free.app/company/logincom/callback/&state=YOUR_STATE&scope=openid%20profile"
    >
      <img
        alt="Login with LINE"
        src="https://scdn.line-apps.com/n/line_login/btn.png"
      />
    </a>
    <br />
    <button
      onclick="window.location.href='{% url 'company:register_company' %}'"
    >
      Register as a Company
    </button>
  </body>
</html>
