<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Profile</title>
  <body>
    <h2>Student Profile</h2>
    <img src="/static/images/{{ student.proflie }}" alt="Profile Image" style="width:150px; height:150px;">
    <p>Student ID: {{ student.student_id }}</p>
    <p>Name: {{ student.name }} {{ student.last_name }}</p>
    <p>Nick name: {{ student.nick_name }}</p>
    <p>Birthday: {{ student.birthday }}</p>
    <p>Gender: {{ student.gender }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Phone Number: {{ student.phone }}</p>

  </body>
</html>